###> IDE ###
.idea
.data
.venv
.vscode
/*.xml
*.DS_Store
###< IDE ###

.env
/orpheus.toml
/KEYS
.netrc
auth.json

*.log

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.joblib
*.cache
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

.ruff_cache/
dist/
